<div class='comment_block'>
	<div class='comment'><%=h comment.comment %></div>
	<div class='comment_info'><%= distance_of_time_in_words_to_now(comment.created_at) %> ago by <%=h comment.user.login %></div>
</div>
